
.Login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("C:\Users\JediS\OneDrive\Documents\project4\shopping-cart-react\src\assets\backgroung.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.loglabel
{
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

.body2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
  
  form {
    text-align: center;
    width: 300px;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    background-color: rgb(250, 244, 238);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  
  button {
    background-color: #4caf50;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  